@import "color/colors";

// 品牌色-主色
@primary-base: #1677ff;
// 根据配置项生成的变量
// 品牌色梯度(自动生成)
@primary-1              : color(~`colorPalette('@{primary-base}', 1) `);
@primary-2              : color(~`colorPalette('@{primary-base}', 2) `);
@primary-3              : color(~`colorPalette('@{primary-base}', 3) `);
@primary-4              : color(~`colorPalette('@{primary-base}', 4) `);
@primary-5              : color(~`colorPalette('@{primary-base}', 5) `);
@primary-6              : @primary-base;
@primary-7              : color(~`colorPalette('@{primary-base}', 7) `);
@primary-8              : color(~`colorPalette('@{primary-base}', 8) `);
@primary-9              : color(~`colorPalette('@{primary-base}', 9) `);
@primary-10             : color(~`colorPalette('@{primary-base}', 10) `);

// 品牌色梯度(由设计师提供)
@brand1:  @primary-1;
@brand2:  @primary-2;
@brand3:  @primary-5;
@brand4:  @primary-6;
@brand5:  @primary-7;



//通用色-灰度颜色
@fontGy1: #2b2e33;
@fontGy2: #65696e;
@fontGy3: #93989e;
@fontGy4: #b3b7bd;
@Gy5: #d5d7db;
@Gy6: #e8eaed;
@Gy7: #f2f3f5;
@Gy8: #f7f8fa;
@bgColor: @Gy8; // body背景色，可以修改也可以和Gy8保持一致


// 信息色
@info-base: #1677ff;
// 成功色
@success-base: #2ba471;
// 警告色
@warning-base: #faa614;
// 错误色
@error-base: #f93b3b;

@info-1                 : color(~`colorPalette('@{info-base}', 1) `);
@info-2                 : color(~`colorPalette('@{info-base}', 2) `);
@info-3                 : color(~`colorPalette('@{info-base}', 3) `);
@info-4                 : color(~`colorPalette('@{info-base}', 4) `);
@info-5                 : color(~`colorPalette('@{info-base}', 5) `);
@info-6                 : @info-base;
@info-7                 : color(~`colorPalette('@{info-base}', 7) `);
@info-8                 : color(~`colorPalette('@{info-base}', 8) `);
@info-9                 : color(~`colorPalette('@{info-base}', 9) `);
@info-10                : color(~`colorPalette('@{info-base}', 10) `);

@success-1              : color(~`colorPalette('@{success-base}', 1) `);
@success-2              : color(~`colorPalette('@{success-base}', 2) `);
@success-3              : color(~`colorPalette('@{success-base}', 3) `);
@success-4              : color(~`colorPalette('@{success-base}', 4) `);
@success-5              : color(~`colorPalette('@{success-base}', 5) `);
@success-6              : @success-base;
@success-7              : color(~`colorPalette('@{success-base}', 7) `);
@success-8              : color(~`colorPalette('@{success-base}', 8) `);
@success-9              : color(~`colorPalette('@{success-base}', 9) `);
@success-10             : color(~`colorPalette('@{success-base}', 10) `);

@warning-1              : color(~`colorPalette('@{warning-base}', 1) `);
@warning-2              : color(~`colorPalette('@{warning-base}', 2) `);
@warning-3              : color(~`colorPalette('@{warning-base}', 3) `);
@warning-4              : color(~`colorPalette('@{warning-base}', 4) `);
@warning-5              : color(~`colorPalette('@{warning-base}', 5) `);
@warning-6              : @warning-base;
@warning-7              : color(~`colorPalette('@{warning-base}', 7) `);
@warning-8              : color(~`colorPalette('@{warning-base}', 8) `);
@warning-9              : color(~`colorPalette('@{warning-base}', 9) `);
@warning-10             : color(~`colorPalette('@{warning-base}', 10) `);

@error-1                : color(~`colorPalette('@{error-base}', 1) `);
@error-2                : color(~`colorPalette('@{error-base}', 2) `);
@error-3                : color(~`colorPalette('@{error-base}', 3) `);
@error-4                : color(~`colorPalette('@{error-base}', 4) `);
@error-5                : color(~`colorPalette('@{error-base}', 5) `);
@error-6                : @error-base;
@error-7                : color(~`colorPalette('@{error-base}', 7) `);
@error-8                : color(~`colorPalette('@{error-base}', 8) `);
@error-9                : color(~`colorPalette('@{error-base}', 9) `);
@error-10               : color(~`colorPalette('@{error-base}', 10) `);


// iview的配置项
// Prefix
@css-prefix             : ivu-;
@css-prefix-iconfont    : ivu-icon;

// Color
@primary-color          : @primary-base; // 被修改
@info-color             : @info-base; // 被修改
@success-color          : @success-base; // 被修改
@processing-color       : @primary-color;
@warning-color          : @warning-base; // 被修改
@error-color            : @error-base; // 被修改
@error-hover-color      : color(~`colorPalette('@{error-color}', 5) `);
@error-active-color     : color(~`colorPalette('@{error-color}', 7) `);
@normal-color           : @Gy6;
@link-color             : @primary-base; // 被修改
@link-hover-color       : @brand3;
@link-active-color      : @brand5;
@selected-color         : @brand5;
@tooltip-color          : #fff;
@subsidiary-color       : @fontGy3;
@rate-star-color        : @warning-base;
@white: #fff;
@black: #000;

// Base
@body-background        : @bgColor;
@component-background   : #fff;
@font-family            : "Helvetica Neue", Helvetica, "PingFang SC", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", Arial, "SimSun", "sans-serif";
@code-family            : Consolas,Menlo,Courier,monospace;
@title-color            : @fontGy1;
@text-color             : @fontGy2;
@text-color-secondary   : @fontGy3;
@heading-color          : @fontGy1;
@heading-color-dark     : fade(@white, 100%);
@font-size-base         : 14px;
@font-size-small        : 12px;
@font-size-large        : @font-size-base + 2px;
@heading-1-size         : ceil(@font-size-base * 2.71);
@heading-2-size         : ceil(@font-size-base * 2.14);
@heading-3-size         : ceil(@font-size-base * 1.71);
@heading-4-size         : ceil(@font-size-base * 1.42);
@heading-5-size         : ceil(@font-size-base * 1.14);
@heading-6-size         : ceil(@font-size-base * 1);
@line-height-base       : 1.5;
@line-height-computed   : floor((@font-size-base * @line-height-base));
@border-radius-base     : 6px;
@border-radius-small    : 4px;
@cursor-disabled        : not-allowed;

// LINK
@link-decoration        : none;
@link-hover-decoration  : none;
@link-focus-decoration  : none;
@link-focus-outline     : 0;

// Disabled
@disabled-color: fade(#000, 25%);

// vertical paddings
@padding-lg: 24px; // containers
@padding-md: 16px; // small containers and buttons
@padding-sm: 12px; // Form controls and items
@padding-xs: 8px; // small items

// Border color
@border-color-base      : @Gy5;  // outside
@border-color-split     : @Gy6;  // inside
@border-width-base      : 1px;            // width of the border for a component
@border-style-base      : solid;          // style of a components border

// Background color
@background-color-base        : @Gy8;  // base
@background-color-select-hover: @input-disabled-bg;
@tooltip-bg                   : rgba(70, 76, 91, .9);
@head-bg                      : #f9fafc;

// menu
@menu-dark-title              : @primary-color;
@menu-dark-active-bg          : #363e4f;
@menu-dark-subsidiary-color   : rgba(255,255,255,.7);
@menu-dark-group-title-color  : rgba(255,255,255,.36);
@date-picker-cell-hover-bg    : #e1f0fe;

// Shadow
@shadow-color           : rgba(0, 0, 0, .2);
@shadow-base            : @shadow-down;
@shadow-card            : 0 1px 1px 0 rgba(0,0,0,.1);
@shadow-up              : 0 -1px 6px @shadow-color;
@shadow-down            : 0 1px 6px @shadow-color;
@shadow-left            : -1px 0 6px @shadow-color;
@shadow-right           : 1px 0 6px @shadow-color;

// Button
@btn-height-base        : 32px;
@btn-height-large       : 40px;
@btn-height-small       : 24px;

@btn-padding-base       : 0 @padding-md - 1px;
@btn-padding-large      : @btn-padding-base;
@btn-padding-small      : 0 @padding-xs - 1px;

@btn-font-weight        : normal;
@btn-padding-base-icon  : 5px 15px 6px;
@btn-padding-large-icon : 6px 15px 6px 15px;
@btn-padding-small-icon : 1px 7px 2px;
@btn-font-size          : @font-size-base;
@btn-font-size-large    : @font-size-large;
@btn-font-size-small    : @font-size-base;
@btn-border-radius      : 4px;
@btn-border-radius-small: 3px;
@btn-group-border       : @brand5;

@btn-disable-color      : @fontGy4;
@btn-disable-bg         : @Gy7;
@btn-disable-border     : @border-color-base;

@btn-default-color      : @text-color;
@btn-default-bg         : #fff;
@btn-default-border     : @border-color-base;

@btn-primary-color      : #fff;
@btn-primary-bg         : @primary-color;

@btn-ghost-color        : @text-color;
@btn-ghost-bg           : #fff;
@btn-ghost-border       : @border-color-base;

@btn-circle-size        : @btn-height-base;
@btn-circle-size-large  : @btn-height-large;
@btn-circle-size-small  : @btn-height-small;

@btn-square-size        : @btn-height-base;
@btn-square-size-large  : @btn-height-large;
@btn-square-size-small  : @btn-height-small;

// Layout and Grid
@grid-columns                : 24;
@grid-gutter-width           : 0;
@layout-body-background      : @Gy8;
@layout-header-background    : @primary-base;
@layout-header-height        : 56px; // 被修改
@layout-header-padding       : 0 24px 0 16px; // 被修改
@layout-footer-padding       : 24px 50px;
@layout-footer-background    : @layout-body-background;
@layout-sider-background     : @white;
@layout-trigger-height       : 48px;
@layout-trigger-color        : #fff;
@layout-zero-trigger-width   : 36px;
@layout-zero-trigger-height  : 42px;

// Legend
@legend-color           : #999;

// Input
@input-height-base           : 32px;
@input-height-large          : 40px;
@input-height-small          : 24px;

@input-padding-horizontal    : 8px;
@input-padding-vertical-base : 4px;
@input-padding-vertical-small: 1px;
@input-padding-vertical-large: 6px;

@input-placeholder-color     : @fontGy3;
@input-color                 : @fontGy1;
@input-border-color          : @Gy5;
@input-bg                    : #fff;
@input-group-bg              : #f8f8f9;

@input-hover-border-color    : @primary-color;
@input-focus-border-color    : @primary-color;
@input-disabled-bg           : #f3f3f3;

// Tag
@tag-font-size          : 12px;

// Media queries breakpoints
// Extra small screen / phone
@screen-xs              : 480px;
@screen-xs-min          : @screen-xs;
@screen-xs-max          : (@screen-xs-min - 1);

// Small screen / tablet
@screen-sm              : 576px;
@screen-sm-min          : @screen-sm;
@screen-sm-max          : (@screen-sm-min - 1);

// Medium screen / desktop
@screen-md              : 768px;
@screen-md-min          : @screen-md;
@screen-md-max          : (@screen-md-min - 1);

// Large screen / wide desktop
@screen-lg              : 992px;
@screen-lg-min          : @screen-lg;
@screen-lg-max          : (@screen-lg-min - 1);

// Extra large screen / full hd
@screen-xl              : 1200px;
@screen-xl-min          : @screen-xl;
@screen-xl-max          : (@screen-xl-min - 1);

// Extra extra large screen / large descktop
@screen-xxl             : 1600px;
@screen-xxl-min         : @screen-xxl;
@screen-xxl-max         : (@screen-xxl-min - 1);

// Z-index
@zindex-spin            : 8;
@zindex-affix           : 10;
@zindex-back-top        : 10;
@zindex-menu            : 1;
@zindex-select          : 900;
@zindex-modal           : 1000;
@zindex-drawer          : 1000;
@zindex-message         : 1010;
@zindex-notification    : 1010;
@zindex-tooltip         : 1060;
@zindex-transfer        : 1060;
@zindex-loading-bar     : 2000;
@zindex-spin-fullscreen : 2010;

// Animation
@animation-time         : .3s;
@animation-time-quick   : .15s;
@transition-time        : .2s;
@ease-in-out            : ease-in-out;

// Slider
@slider-color              : @brand3;
@slider-height             : 4px;
@slider-margin             : 16px 0;
@slider-button-wrap-size   : 18px;
@slider-button-wrap-offset : -5px;
@slider-disabled-color     : #ccc;

// Avatar
@avatar-size-base: 32px;
@avatar-size-lg: 40px;
@avatar-size-sm: 24px;
@avatar-font-size-base: 18px;
@avatar-font-size-lg: 24px;
@avatar-font-size-sm: 14px;
@avatar-bg: #ccc;
@avatar-color: #fff;
@avatar-border-radius: @border-radius-small;

// Anchor
@anchor-border-width: 2px;

// List
@list-header-background: transparent;
@list-footer-background: transparent;
@list-empty-text-padding: @padding-md;
@list-item-padding: @padding-sm 0;
@list-item-meta-margin-bottom: @padding-md;
@list-item-meta-avatar-margin-right: @padding-md;
@list-item-meta-title-margin-bottom: @padding-sm;

// Skeleton
@skeleton-base-color: rgba(190, 190, 190, 0.2);
@skeleton-to-color: shade(@skeleton-base-color, 5%);
@skeleton-border-radius-round: 40px;
@skeleton-item-margin: 16px;
@skeleton-height-base: 32px;
@skeleton-height-large: 40px;
@skeleton-height-small: 24px;
@skeleton-rect-width-base: 160px;
@skeleton-rect-width-large: 200px;
@skeleton-rect-width-small: 120px;
@skeleton-image-width-base: 48px;
@skeleton-image-width-large: 96px;
@skeleton-image-width-small: 32px;

// Typography
@typography-title-font-weight: 600;
@typography-title-margin-top: 1.2em;
@typography-title-margin-bottom: 0.5em;

// Image
@image-preview-operations-background: rgba(55, 55, 55, 0.4);
@image-preview-operations-fontsize: 26px;
@image-preview-operations-hover: .75;
@image-preview-operations-disabled-color: #c5c8ce;

// 表格
@table-thead-bg: @Gy8; // 自带配置项 表头背景色
@table-td-stripe-bg: @Gy8; // 自带配置项 偶数行td背景色
@table-td-hover-bg: #edf4ff; // 自带配置项 鼠标悬浮td背景色
@table-td-highlight-bg: #edf4ff; // 自带配置项 高亮td背景色
