@import 'bezierEasing';
@import 'tinyColor';

.colorPaletteMixin() {
    @functions: ~`(function() {
  var hueStep = 2;
  var maxSaturationStep = 100;
  var minSaturationStep = 9;
  var maxValue = 100;
  var minValue = 30;

  var getHue = function(hsv, i, isLight) {
    var hue;
    if (hsv.h >= 60 && hsv.h <= 240) {
      hue = isLight ? hsv.h - hueStep * i : hsv.h + hueStep * i;
    } else {
      hue = isLight ? hsv.h + hueStep * i : hsv.h - hueStep * i;
    }
    if (hue < 0) {
      hue += 360;
    } else if (hue >= 360) {
      hue -= 360;
    }
    return Math.round(hue);
  };
  var getSaturation = function(hsv, i, isLight) {
    var newSaturation;
    var oldS = hsv.s * 100;
    if (isLight) {
      newSaturation = oldS <= minSaturationStep ? oldS : oldS - ((oldS - minSaturationStep) / 5) * i;
    } else {
      newSaturation = oldS + ((maxSaturationStep - oldS) / 4) * i;
    }
    return Math.round(newSaturation);
  };
  var getValue = function(hsv, i, isLight) {
    var oldV = hsv.v * 100;
    var newV = isLight ? oldV + ((maxValue - oldV) / 5) * i : (oldV <= minValue ? oldV : oldV - ((oldV - minValue) / 4) * i);
    return Math.round(newV);
  };

  this.colorPalette = function(color, index) {
    var isLight = index < 6;
    var i = isLight ? 6 - index : index - 6;
    var hsv = tinycolor(color).toHsv();
    if (index === 6) {
      return tinycolor(color).toHexString();
    }
    return tinycolor({
      h: getHue(hsv, i, isLight),
      s: getSaturation(hsv, i, isLight),
      v: getValue(hsv, i, isLight),
    }).toHexString();
  };
  })()`;
}

.colorPaletteMixin();

